<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Artificial Reason</title>

    <link rel="shortcut icon" href="/assets/img/favicon.png">

    <meta name="description" content="">

    <!-- CSS -->
    <link href="/assets/css/preload.css" rel="stylesheet" media="screen">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/yamm.css" rel="stylesheet" media="screen">
    <link href="/assets/css/bootstrap-switch.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/slidebars.css" rel="stylesheet" media="screen">
    <link href="/assets/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="/assets/css/jquery.bxslider.css" rel="stylesheet">
    <link href="/assets/css/syntaxhighlighter/shCore.css" rel="stylesheet" media="screen">

    <link href="/assets/css/style-red2.css" rel="stylesheet" media="screen" title="default">
    <link href="/assets/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <link href="/assets/css/buttons.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.min.js"></script>
        <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>

<div id="sb-site">
<div class="boxed">

<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="index-2.html">artificial <span>reason</span></a></h1>
            <p class="animated fadeInRight">Clean and elegant theme</p>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-8 vine"><i class="fa fa-vine"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-6 flickr"><i class="fa fa-flickr"></i></a></li>
            </ul>

            <div class="dropdown animated fadeInDown animation-delay-11">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
                <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                    <form role="form">
                        <h4>Login Form</h4>

                        <div class="form-group">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <br>
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> <!-- dropdown -->

            <div class="dropdown animated fadeInDown animation-delay-13">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-ar btn-primary" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div> <!-- dropdown -->
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->
<nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-dark" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand hidden-lg hidden-md hidden-sm active" href="/index">THAI<span>SIAM</span></a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li >
                    <a href="/index" >หน้าหลัก</a>
                </li>
                <li>
                    <a href="/product" >สินค้า</a>
                </li>
                <li>
                    <a href="/aboutus" >เกี่ยกับเรา</a>
                </li>
                <li>
                    <a href="/contact" >ติดต่อสอบถาม</a>
                </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Product</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">E-commerce</a></li>
            <li class="active">Product</li>
        </ol>
    </div>
</header>

<div class="container">
    <h2 class="section-title no-margin-top">Motorola Moto G 8GB Black</h2>
    <div class="row">
        <div class="col-md-4">

            <ul class="bxslider">
              <li><img src="/assets/img/demo/e_product1.jpg"></li>
              <li><img src="/assets/img/demo/e_product2.jpg"></li>
              <li><img src="/assets/img/demo/e_product3.jpg"></li>
              <li><img src="/assets/img/demo/e_product4.jpg"></li>
              <li><img src="/assets/img/demo/e_product5.jpg"></li>
            </ul>

            <div id="bx-pager">
              <a data-slide-index="0" href="#"><img src="/assets/img/demo/e_img1.jpg"></a>
              <a data-slide-index="1" href="#"><img src="/assets/img/demo/e_img2.jpg"></a>
              <a data-slide-index="2" href="#"><img src="/assets/img/demo/e_img3.jpg"></a>
              <a data-slide-index="3" href="#"><img src="/assets/img/demo/e_img4.jpg"></a>
              <a data-slide-index="4" href="#"><img src="/assets/img/demo/e_img5.jpg"></a>
            </div>
        </div>
        <div class="col-md-5">
            <h3 class="no-margin-top">Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eum molestias modi error perspiciatis, recusandae commodi laudantium dolorem illo quaerat molestiae quis placeat non saepe harum necessitatibus alias porro at.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minima repellat incidunt magni laborum porro totam explicabo, quis nostrum aliquid provident, harum.</p>
            <h4>Specifications</h4>
            <ul class="unstyled">
                <li><strong>Memory: </strong> 8GB standard, 16GB version available / RAM- 1GB LPDDR2</li>
                <li><strong>PROCESSOR: </strong>Qualcomm MSM8x26 quad-core A7 1.2GHz (Adreno 305 450MHz GPU)</li>
                <li><strong>Bands/Modes: </strong>CDMA: 850/1900 UMTS: 850/900/1700/1900/2100 GSM: 850/900/1800/1900</li>
                <li><strong>Operating system: </strong>Android 4.4, KitKat</li>
            </ul>

        </div>
        <div class="col-md-3">
            <div class="e-price">$ <span>229</span>.00</div>
            <a href="#" class="btn btn-ar btn-block btn-success"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
            <h3 class="right-line">Related Products</h3>
            <div class="ec-box">
                <div class="ec-box-header"><a href="#">Bq Aquaris 5 16GB White</a></div>
                <a href="#"><img src="/assets/img/demo/e_img03.jpg" alt=""></a>
                <div class="ec-box-footer">
                    <span class="label label-primary">$ 249.99</span>
                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="footer-widget-title">ข้อมูลการติดต่อ</h3>
                        <p>ร้านไทยสยาม อุดรธานี</p>
                        <p>415/1 ตรงข้ามโรงเรียนประจักษ์, ถนนรอบเมือง, ตำบลหมากแข้ง,อำเภอเมือง,</p>
                        <p>จังหวัดอุดรธานี, 41000</p>
                        <abbr title="Phone">โทร : </abbr> 042-322169, 081-2602637<br>
                        อีเมล์ : <a href="#">support@thaisiamudon.com</a>
                   
            </div>
            <div class="col-md-5">
                <h3 class="footer-widget-title">แกลอรี่ทางร้าน</h3>
                <ul class="bxslider" id="bx5">
                  <li>
                    <a href="#" >
                      <img src="/assets/img/demo/wf1.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" >
                      <img src="/assets/img/demo/wf2.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" >
                      <img src="/assets/img/demo/wf3.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" >
                      <img src="/assets/img/demo/wf4.jpg" alt="...">
                    </a>
                  </li>
                </ul>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; 2014 <a href="#">Artificial Reason</a>, inc. All rights reserved.</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->


<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.cookie.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap-switch.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/slidebars.js"></script>
<script src="/assets/js/jquery.bxslider.min.js"></script>
<script src="/assets/js/holder.js"></script>
<script src="/assets/js/buttons.js"></script>
<script src="/assets/js/styleswitcher.js"></script>
<script src="/assets/js/jquery.mixitup.min.js"></script>
<script src="/assets/js/circles.min.js"></script>

<!-- Syntaxhighlighter -->
<script src="/assets/js/syntaxhighlighter/shCore.js"></script>
<script src="/assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="/assets/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/e-commerce_product.js"></script>


</body>

</html>

